<!DOCTYPE html>
<html>
<head>
  <title>Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'index', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 56px;">
<%= render 'shared/head' %>
  <div class="container">
    <div class="row">
    <% unless notice.nil? %>
    <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <% unless alert.nil? %>
    <div class="alert alert-danger"><%= alert %></div>
    <% end %>
    <%= yield %>
    </div>
  </div>
<a href="#" class="scrollToTop" style="display: none;">
  <div id="toTopRope"></div>
  <img id="toTopHover" src="/topscroll.png">
</a>
</body>
</html>